html, body {
    position: relative;
    height: 100%;
}

body {
    background: url("../image/background.png");
    background-size: cover;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.nav {
    display: flex;
    align-items: center;
    height: 8%;
}

.nav-background-color{
    background-color: rgba(255,255,255,0.4);
}
.nav-div {
    width: 100%;
}

.nav-div b {
    color: #b8a06e;
    font-size: 2.0rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 4px;
}

.nav-div-p {
    margin-top: 0;

}

.nav-div-item {
    padding-top: 1.5%;
}

.nav-div-title {
    font-size: 2.0rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 4px;
}

.swiper1-video {
    display: flex;
    justify-content: flex-start;
    margin-top: 25%;
    margin-left: 10%;
    flex-direction: column;
}

.swiper1-ul {
    margin-top: 0;
}

.swiper1-ul li {
    background-color: rgba(239, 147, 0, 0.3);
    height: 48px;
    margin: 10px 20px;
    padding: 10px 20px;
    list-style: none;
    text-align: left;
}

.swiper1-name {
    display: flex;
    justify-content: flex-start;
    margin-top: 35%;
    margin-left: 40%;
    flex-direction: column;
    text-align: left;
}

.swiper1-name-b {
    font-size: 2.4rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 4px;
}

.swiper2-div {
    display: flex;
    height: 70%;
    width: 100%;
    margin-top: 10%;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.swiper2-div img {
    height: 100%;
}

.swiper2-resume {
    display: flex;
    width: 100%;
    margin-right: 20%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.swiper2-resume h2 {
    display: flex;
    width: 100%;
    -webkit-justify-content: flex-end;
    flex-direction: column;
    text-align: right;
}

.swiper2-resume b {
    color: #b8a06e;
    font-size: 2.4rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 4px;
}

.swiper2-resume p {
    font-size: 2.4rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 4px;
}

.swiper2-resume li {
    list-style: list-item;
    display: flex;
    flex-direction: row;
    margin: 1rem 1rem 1rem 5rem;
}


.swiper2-resume li b{
    font-size: 1rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 0.5rem;
    margin-right: 3rem;
}

.swiper2-resume li p{
    font-size: 1rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    letter-spacing: 4px;
    margin: 0;
}


.swiper3-div {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);

}

.swiper3-glory{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.swiper3-glory h2{
    padding: 5rem 0 0 10rem;
}
.swiper3-glory b{
    color: #b8a06e;
    font-size: 2.4rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 4px;
}
.swiper3-glory-p{
    font-size: 2.4rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 4px;
}

.swiper4-div{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
}

.swiper4-div h2{
    text-align: center;
}


.swiper4-dunce{
    display: flex;
    width: 100%;
    flex-direction: column;
}


.swiper4-dunce b{
    color: #b8a06e;
    font-size: 2.4rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 4px;
}
.swiper4-dunce-p{
    font-size: 2.4rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 4px;
}

.dunce-div{
    text-align: center;
    margin-bottom: 5rem;
}

.dunce-div img{
    width: 16rem;
    height: 14rem;
}

.dunce-div-list-card{
    height: 18rem;
    width: 16rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    margin: auto;
}


.music-div-list-card{
    height: 32rem;
    width: 24rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    margin: auto;
}

.mc-div-list-card{
    height: 34rem;
    width: 28rem;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    margin: auto;
}

.mc-div-list-card img{
    width: 28rem;
    height: 30rem;
}

.music-div-list-card img{
    width: 24rem;
    height: 28rem;
}

.swiper6-contact-pure-u-1-3{
    display: flex;
    justify-content: center;
}

.dunce-name{
    font-size: 1.2rem;
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 4px;
    color: black;
    text-align: center;
    line-height: 4rem;
}

.swiper5-gallery{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.swiper5-gallery b{
    color: #b8a06e;
    font-size: 2.4rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 4px;
}


.swiper6-contact{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

.swiper6-contact h2{
    padding: 5rem 0 0 10rem;
}
.swiper6-contact b{
    color: #b8a06e;
    font-size: 2.4rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 4px;
}


.swiper-pagination span{
    background-color: rgb(239, 147, 0);
}



.swiper7-jz{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
}

.swiper7-jz h2{
    padding: 5rem 0 0 10rem;
}
.swiper7-jz b{
    color: #b8a06e;
    font-size: 2.4rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 4px;
}

.swiper8-fans{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.swiper8-fans b{
    color: #b8a06e;
    font-size: 2.4rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 4px;
}
.swiper8-fans-p{
    font-size: 2.4rem;
    font-family: "Century Gothic";
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: 4px;
}

.move-to-top{

}

