



/*= common css to all effects =*/
.single-member {
    width: 28rem;
    float: left;
    margin: 30px 2.5%;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    position: relative;
}

.member-image img {
    max-width: 100%;
    vertical-align: middle;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0 0;
    text-transform: uppercase;
    color: white;
}

h5 {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 15px;
    line-height: 22px;
    color:white ;
}




/*= effect-9 css =*/
.effect-9 {
    max-height: 28rem;
    min-height: 34rem;
    overflow: hidden;
    perspective: 800px;

}

.effect-9 h3 {
    line-height: 35px;
}

.effect-9 .member-image {
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: 0.4s;
    z-index: 1;
}

.effect-9 .member-image img {
    width: 100%;
    height: 29rem;
    transition: 0.4s;
}

.effect-9 .more-info {
    height: 32rem;
    transition: 0.4s;
    overflow: hidden;
    position: relative;
    background-color:  rgba(255,255,255,0.6);
    text-align: left;
}

.effect-9 .more-info div{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.effect-9:hover .member-image {
    transform: translateY(100%);
    transition: 0.4s;
}

.more-info div{
    padding-left: 2rem;
    padding-top: 2rem;
}

.more-info li{
    list-style: none;
    margin-bottom: 2rem;
}



/*= effect-9 css end =*/
