<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://static.leetcode-cn.com/cn-mono-assets/production/main/styles.f1ae05bf.css">
    <link rel="stylesheet" href="https://static.leetcode-cn.com/cn-mono-assets/production/main/antd.8db0369a.css">
    <link rel="stylesheet" href="https://static.leetcode-cn.com/cn-mono-assets/production/main/noj-main.8bbdd663.css">
    <link rel="stylesheet"
          href="https://static.leetcode-cn.com/cn-mono-assets/production/main/noj-components.37c03f91.css">
    <link rel="stylesheet"
          href="https://static.leetcode-cn.com/cn-mono-assets/production/main/noj-modules.a6c9539b.css">
    <link rel="stylesheet" href="https://static.leetcode-cn.com/cn-mono-assets/production/main/noj-assets.10eecc6d.css">
    <link rel="stylesheet" href="https://static.leetcode-cn.com/cn-mono-assets/production/main/main.b83dd21b.css">
    <link rel="stylesheet" href="https://static.leetcode-cn.com/cn-mono-assets/production/main/fonts.css">
    <title>力扣</title></head>
<body>
<style id="initial-loading-style">    #initial-loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    transition: opacity .6s;
    z-index: 100;
}

#initial-loading[data-is-hide="true"] {
    opacity: 0;
    pointer-events: none;
}

#initial-loading .spinner {
    display: flex;
}

#initial-loading .bounce {
    width: 18px;
    height: 18px;
    margin: 0 3px;
    background-color: #999999;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#initial-loading .bounce:nth-child(1) {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

#initial-loading .bounce:nth-child(2) {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}  </style>  <!-- 3239f33a -->  <!-- 1.22.14 -->
<div id="initial-loading">
    <div class="spinner">
        <div class="bounce"></div>
        <div class="bounce"></div>
        <div class="bounce"></div>
    </div>
</div>
<div id="app"></div>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/runtime~main.9ed69d9e.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/styles.f1ae05bf.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/antd.8db0369a.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-596046b7.bb353c5a.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-ea8a6886.4b558729.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-17cfe257.dadac797.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-d4e4cabf.2a101837.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-c0430cdf.b7784cff.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-d8d89fa1.2036b915.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-7cc2bbe7.15f8d20d.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-f246d9f0.ed674c73.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-f693a0bb.c1c6cce9.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-0e75f175.23962576.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-8eba2485.c5d2851b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-72832802.6f997414.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-b913293b.c099d984.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-5126d1a3.f19dca26.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-6082179b.48170744.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-0a5204ed.81a47ca6.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-cadf3ba3.a3629ff2.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-af725b36.1c82e64c.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-c9f7fee1.490b8631.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-42367b97.4ccae801.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-73de58a4.6157229a.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-777ddb06.6558d54e.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-58dd0230.d7ea3740.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-8a51be4b.eee1484e.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-578cc5c6.8d4f031e.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-12d9bf4a.72cd70fe.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-464878ec.ccbd3216.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-6cb5bd57.b060b000.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-d98dc4ed.4ae402fb.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-a183c6bb.5ec987f3.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-0e0d8ef7.dc7ca2bd.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-4507a45d.61da3a4d.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-9a23e3f1.0625b303.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-e59e4979.ee91a7f9.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-d25a6dd9.58a183e7.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-e2b270a2.d112c98b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-9d149521.5c085fd1.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-5589fac2.7571f04d.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-358805d3.15399f8f.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-ce352d08.0e6dd7bb.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-ebea4175.e852b6ab.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-7f508cef.eb3ab713.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-adb96602.dc82ee0d.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-ebee0b67.4254dffa.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-5d7be678.9765e51e.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-0149f30c.a98ca38f.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-e87cb2ca.382cb2dc.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-ae01df8a.94406ee0.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-4486b3fb.29e37fb7.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-a5cd9910.95afe909.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-37583276.1d780b5b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-67e48107.1b324e4b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-ae31d0be.31e39bae.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-aa692271.4e4d42f3.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-cdf20b09.977c918b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-047f38ac.d87f2af6.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-758da041.45ce9149.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-f94c5d12.d247ebdc.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-24424a96.e16d43f2.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-d17df876.0e798472.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-0e1b1d97.871dbfa3.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-e4fa8fd6.c194a825.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-49e4c711.b2be5c83.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-20c872db.81ea0200.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-b8c5f714.222be1ac.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-866a4401.5b0c7a8a.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-aaf4abe8.77a10150.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-b10a905a.af0b6664.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-1671a316.fb05a5c0.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-d3e80066.09dca1ed.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-89d6e678.c8c761b9.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-d0b2dd5f.343b4c53.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-fd6fa1fd.f82986a5.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-032a595f.022f31c3.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-456b2476.6ea081bc.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-437e71db.8f2eb838.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-bcd7b363.0d4699a3.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-1e8480eb.7a5f9e99.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-aa2e9361.94fe6fa5.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-dae9d5fd.f706fa9c.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-2e8832e8.811f473c.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-f5a90a73.01da6cc2.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-9bc06a41.4b61b7cc.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-597a6307.25b20f53.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-e6c5abf1.882f27d8.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-c20fb2c7.6292a8a5.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-e95ce308.b574ff7e.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-4aabfe00.f7dc301e.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-14dc4abc.d3bbb4a8.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-6b7926a3.92b5f923.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-eaddf5ed.9cb0bb2b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-225d05b9.27401daf.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-4a5797c6.8e4d6cf7.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-f088077c.189e352b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-8db13520.68400e07.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-7a375a0e.ad53b5b1.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-8c2cfac4.20ac2d24.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-26228928.91143f2c.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-9fe60ad9.20b5b08e.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-4e1ec07c.92173443.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-97287e74.b5d330b5.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-aee5bb16.7969addf.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-0e75593c.0f975760.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-b3a903c8.74b64851.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-9b86c872.5823d15b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-155e8b65.bb8fc578.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-dc2915d9.4d9e0df9.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-eeb7761d.f424cabc.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-c5ddcdbe.dbb4788e.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-98264b9e.843f3181.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-6dab7614.60f6609a.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-ebc9061c.4507afb4.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-ebdd2630.877689c2.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-a646e58e.ad6830ef.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-562fdecb.84ae692b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-2350457e.64cedf03.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-d5569b98.ab33e301.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-6c886102.1774f95c.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-be298779.b1b6057f.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-18e0ea4c.71414c87.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-0a37f3b6.1e3990fb.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-097a5fc2.63fcefa0.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-65ddf196.27cfd909.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-79fd12c8.1f78b044.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-d4222a42.0404557a.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-78dfec63.0c3308e0.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-29a0a51d.10d9ea75.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-6cdd012b.f674da9e.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-4356703d.c3286a86.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-000f5ab8.23aff687.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-f30d94f5.9f3be071.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-8a2ef30b.18470558.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-75b653e1.c9553678.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-65ecaf64.c3bc905a.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-a1241b0d.de67b2c3.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-6f7436c6.2e3bc298.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-00df017c.0513528a.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-31174ed2.e3740f8c.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-6daa0c29.21db69ca.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-867565c3.223bbdf4.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-019b209e.6730889a.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-296a5b49.dac2d4f1.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-ac11ebec.a22704a1.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-74d9c565.c00aaa31.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-ca2fee2e.3261b4cc.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-1d5a5bfa.8b22e3a6.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-e5bc14f7.bab89f3a.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-6544a136.4a91827a.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-e3a78c39.17ed9d00.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-7ea2dd34.db99350f.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-da8cf0f5.d5d8764c.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-0acc548d.c7af097f.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-14b7c871.cb85c820.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-5105ae27.474623b3.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-ecc431cd.ae0421e5.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-32ec0297.043a2d8a.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-575d18dc.73678021.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-3ab85f6b.c5880656.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-1b7fbabe.a12b024c.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-86682390.3b583915.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-df84c44f.b7dba7a4.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-ef0b16fa.26d0533f.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-5dac9575.88342a3a.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-e89bffe6.91762390.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-cc36d41e.1e5b4f99.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-c9d3eb0f.ee6d66af.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-51dd5dca.91dc6ef0.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-befc989e.2c0ec86b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-7c68c7b0.b93023fc.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-82411687.44d781fe.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-f04b6656.8f1eda70.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-04a93705.23012b83.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-1fdf1f80.cb6f4c47.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-b20a9fba.7142e42b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-f1efce9f.d585361b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-a3ecabc7.df214de4.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-7d9234dc.cc34b615.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-0a6052fd.410607eb.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-87aaf432.b4ab209c.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-4b235cd3.7b404c84.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-cb77523f.727ba6d9.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-4be6e2ab.1eacdaaf.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-afdc45b0.4ccd146c.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-7c17bc86.8b9f15c5.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-b5355f00.20056c47.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-5dc71c32.273e9d9b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-7ca7df61.c14f5421.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-feb3aea7.96a57fee.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-e894161a.97e33330.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-d83d7255.4dc0c0e4.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-5e25d90a.48548370.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-0eeb5f9d.9b678595.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-6c96fd75.68921196.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-28bd51ab.c3fc9383.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-a10feb38.ea6f6a67.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-59558e9b.8fccfe61.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-7be493e4.905ae3df.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-759e45ec.0a6f4b34.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-cb98c6e2.2d4ab03b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-cb4214fe.98fe781d.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-b59369ff.39f24d85.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-901cc65f.1f96a5da.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-d4fde23c.a633ab87.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-d05ae9b1.1136a8d7.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-d68a54f9.d318d213.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-bb3f4262.006fc7e2.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-96f23d05.993b9f1c.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-6614bd9b.daf2920b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-5a799721.edfe21b7.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-353d22ca.90e342f6.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-0d4c2d25.4084d16f.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-5408b84b.a4044978.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-d22af15f.208f18b3.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-e6ca7fd3.c442ad9a.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-72845111.4c71b777.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-9705511b.55601057.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-3d05bb2c.ad47df21.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-0ebb4164.7c5b1a16.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-f231471b.c7ea18c2.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-a2aa77ac.cd0ce82c.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-23cd8f4a.f61bbedf.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-ba8e6c6e.fbbe42da.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-25384a98.30f2889e.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-d3cd6428.77f5f2f8.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-25433d21.a4d02cef.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-bfa5300f.5e38c6a1.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-f3082f2a.19f6aa21.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-2b755d7d.336a5887.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-9bd742bf.4065176a.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-24c8ce2b.533931f3.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-5f1aa20c.3a15d5cc.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-9d25632f.8da90dd8.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-84546878.cfe4445d.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-a8dd6f0e.c5dbc754.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/npm-1afe095b.31b8f38d.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/noj-main.8bbdd663.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/noj-components.37c03f91.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/noj-modules.a6c9539b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/noj-common.5af514a4.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/noj-track.1435a254.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/noj-assets.10eecc6d.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/noj-schema.9763a81b.js" async></script>
<script src="https://static.leetcode-cn.com/cn-mono-assets/production/main/main.b83dd21b.js" async></script>
<script>    // avoid running analysis codes for prerender    if (!/prerender/i.test(navigator.userAgent) && /leetcode-cn\.com/.test(window.location.href)) {      // 百度统计      var _hmt = _hmt || [];      (function() {        var hm = document.createElement("script");        hm.src = "https://hm.baidu.com/hm.js?fa218a3ff7179639febdb15e372f411c";        var s = document.getElementsByTagName("script")[0];         s.parentNode.insertBefore(hm, s);      })();      // Google Analytics      (function() {        var script = document.createElement("script");        script.src = "https://www.googletagmanager.com/gtag/js?id=UA-131851415-1";        var s = document.getElementsByTagName("script")[0];         s.parentNode.insertBefore(script, s);        script.onload = function() {          window.dataLayer = window.dataLayer || [];          function gtag(){dataLayer.push(arguments);}          gtag('js', new Date());          gtag('config', 'UA-131851415-1');        }      })();    }  </script>
<style>a.header-anchor {
    display: none;
}</style>
<script>if (/discuss.lingkou.com/.test(location.href)) {
    __runForLingkouDotCom()
}

function __runForLingkouDotCom() {
    function findSocial(selector) {
        if (document.querySelector(selector) == null) {
            setTimeout(function () {
                findSocial(selector);
            }, 100);
        } else {
            document.querySelector(selector).style.display = "none";
        }
    }

    findSocial('.css-3hcwga-NavbarMenuItem:nth-child(6)');// dynamic scriptfunction findFooter(selector) {  if (document.querySelector(selector) == null) {    setTimeout(function() {      findFooter(selector);    }, 100);  } else {    document.querySelector(selector).innerHTML = '<div><ul class="css-3fea3i-CnLicensingWrapper e5i1odf0"><li><a href="http://www.miitbeian.gov.cn">沪ICP备18019787号</a></li><li><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31011502007802">沪公网安备31011502007802号</a></li><li><a href="http://www.shjbzx.cn/">上海市互联网违法和不良信息举报中心</a></li><li><a href="http://report.12377.cn:13225/toreportinputNormal_anis.do">中国互联网违法和不良信息举报中心</a></li></ul></div>';  }}findFooter('.css-3fea3i-CnLicensingWrapper.e5i1odf0');}</script>
<script>// dynamic scriptfunction findpager(selector) {  if (document.querySelector(selector) == null) {    setTimeout(function() {      document.body.classList.remove("shared-ws-collage");      findpager(selector);    }, 100);  } else {    setTimeout(function() {      document.body.classList.add("shared-ws-collage");      findpager(selector);    }, 100);   }}if(window.location.href.includes('?college=')) {  findpager('#ranking button[type="primary"][data-page="1"]');}</script>
<style>.shared-ws-collage div[class*="PopularityRankInner"] .ant-table-wrapper .ant-table-tbody > tr:first-child {
    color: orange;
    font-weight: bold;
}

.shared-ws-collage div[class*="PopularityRankInner"] .ant-table-wrapper .ant-table-tbody > tr * {
    background: none;
}

.shared-ws-collage div[class*="PopularityRankInner"] .ant-table-wrapper .ant-table-tbody > tr:first-child > td {
    border-bottom: none;
}

.shared-ws-collage div[class*="PopularityRankInner"] .ant-table-wrapper .ant-table-tbody > tr:first-child {
    height: 50px;
}

@media screen and (max-width: 992px) {
    .shared-ws-collage div[class*="PopularityRankInner"] .ant-table-body::before {
        content: " ";
        display: block;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
        height: 40px;
        margin-bottom: -75px;
    }

    .shared-ws-collage div[class*="PopularityRankInner"] .college-contest-popularity-share {
        padding-top: 5px;
    }
}

@media screen and (min-width: 993px) {
    .shared-ws-collage div[class*="PopularityRankInner"] .ant-table-body::before {
        content: " ";
        display: block;
        background: white;
        border-radius: 10px;
        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
        height: 50px;
        margin-bottom: -50px;
    }
}</style>
<script>var currLocation = window.location.pathname;
if (currLocation.includes('/charon/tag') && currLocation.match(/gs\/[0-9]+/g) == null) {
    document.body.classList.add("charon-tag");
    var newMeta = document.createElement('meta');
    newMeta.setAttribute('name', 'apple-mobile-web-app-capable');
    newMeta.setAttribute('content', 'yes');
    document.getElementsByTagName('head')[0].appendChild(newMeta);
}</script>
<style>@media screen and (max-width: 736px) {
    .charon-tag #lc-home > div:first-child {
        display: none;
    }
}

@media screen and (min-width: 737px) {
    .charon-tag #lc-content > div {
        max-width: 100%;
    }

    .charon-tag #lc-content > div:first-child > div:first-child {
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        position: fixed;
        top: 0;
        width: 100%;
        background: white;
        z-index: 100;
    }

    .charon-tag .ant-pagination.ant-table-pagination {
        position: fixed;
        bottom: 10px;
        padding: 10px;
        padding-right: 0px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        right: 50%;
        transform: translateX(50%);
        background: white;
    }

    .charon-tag #lc-footer {
        height: 80px;
    }

    .charon-tag #lc-footer * {
        display: none;
    }
}</style>
<script>// dynamic scriptfunction findContestHosts(selector) {  if (document.querySelector(selector) == null) {    setTimeout(function() {      findContestHosts(selector);    }, 100);  } else {    document.querySelector(selector).innerText = "领扣网络（上海）有限公司";  }}if(window.location.pathname.includes('/contest/college/2019-spring')){  findContestHosts(".css-1fzgbam-OwnershipCompanyTitle");}</script>
<style>@media (max-width: 600px) {
    .css-6ku2ay-OwnershipWrapper {
        flex-direction: column;
        line-height: 38px;
    }
}

.css-lqol00-SocialMediaWrapper li {
    margin-left: 8px;
    margin-right: 8px;
}

.css-7np2mn-icon-ZhiHuIcon:hover {
    color: #0185FF !important;
}

.css-15ygd6a-icon-WeChatIcon:hover {
    color: #03C322 !important;
}

.css-c90mr1-icon-TouTiaoIcon:hover {
    color: #F0403C !important;
}</style>
</body>
</html>