<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../plug-in/element-ui/lib/theme-chalk/index.css">
    <style>
        .text {
            font-size: 14px;
        }

        .item {
            margin-bottom: 18px;
        }

        .clearfix:before,
        .clearfix:after {
            display: table;
            content: "";
        }
        .clearfix:after {
            clear: both
        }

        .box-card {
            width: 480px;
            margin:200px auto;
        }
    </style>
</head>
<body>
    <div id="app">
        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <span>登陆</span>
            </div>
            <div class="text item">
                <el-form ref="form" :model="user" label-width="80px">
                    <el-form-item label="用户名">
                        <el-input v-model="user.username"></el-input>
                    </el-form-item>
                    <el-form-item label="密码">
                        <el-input v-model="user.password"></el-input>
                    </el-form-item>
                    <el-form-item style="text-align: right">
                        <el-button type="primary" @click="onSubmit">登陆</el-button>
                        <el-button>取消</el-button>
                    </el-form-item>
                </el-form>
            </div>
        </el-card>
    </div>

</body>
<script src="../plug-in/vue/vue.js"></script>
<script src="../plug-in/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el:'#app',
        data:{
            user:{
                username:'',
                password:''
            },
        },
        methods:{
            onSubmit:function () {
                $.ajax({
                    type:'post',
                    url:'http://localhost:2334/userJson/login',
                    data:{
                        username: this.user.username,
                        password: this.user.password
                    },
                    dataType:'json',
                    success:function (result) {
                        console.log(result)
                        if(result.msg){

                        }else{
                            layer.msg("录入错误")
                        }
                    },
                    error:function () {
                        console.log("error")
                    }
                })
            }
        }
    })
</script>
</html>