<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="蒋舒婷的安利站">
    <title>蒋舒婷的安利站</title>

    <link rel="stylesheet" href="./plug-in/pruecss/pure-min.css">

</head>
<body>
        <h1>蒋舒婷六选集资完整排名</h1>
        <table class="pure-table pure-table-bordered" >
            <thead>
            <tr>
                <th>排名</th>
                <th>摩点ID</th>
                <th>支持金额(元)</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each=" userRank,iter :${userRanking}" >
                <td th:text="${iter.index + 1}"></td>
                <td th:text="${userRank.username}"></td>
                <td th:text="${userRank.money}"></td>
            </tr>
            </tbody>
        </table>
</div>


</body>
</html>